code/agcom_xml.dtd

<?xml version="1.0"?>
<!DOCTYPE DATI [
<!ELEMENT LICENZA (TESTO)>
<!ELEMENT TEST (#PCDATA>
<!ELEMENT RECORD (CANALE,PROGRAMMA,DATA,COGNOME,NOME,MICRO_CATEGORIA,ARGOMENTO,DURATA,TIPO_TEMPO)>
<!ELEMENT CANALE (#PCDATA)>
<!ELEMENT PROGRAMMA (#PCDATA)>
<!ELEMENT DATA (#PCDATA)>
<!ELEMENT NOME (#PCDATA)>
<!ELEMENT MICRO_CATEGORIA (#PCDATA)>
<!ELEMENT ARGOMENTO (#PCDATA)>
<!ELEMENT TIPO_TEMPO (#PCDATA)>
]>